HotelsWcf/Connected Services/ServiceReference1/WcfHotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfHotels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfHotels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHotelDemo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelDemo" nillable="true" type="tns:HotelDemo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelDemo" nillable="true" type="tns:ArrayOfHotelDemo" />
  <xs:complexType name="HotelDemo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ratings" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelDemo" nillable="true" type="tns:HotelDemo" />
</xs:schema>